.navbar, .navbar1{
    background: linear-gradient(
        to right bottom,
        rgb(0, 255, 145),
        white
      );
      height: max-content;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.title{
    background:rgba(0, 0, 0, 0.5) ;
    text-align: center;
    color: whitesmoke;
    padding: 50px;
    font-variant: small-caps;
    font-size: 100px;
    font-family: fantasy;
    letter-spacing: 50px;
}
.menu{
    background: linear-gradient(
        to right bottom,
        rgb(4, 255, 129),
        rgba(234, 9, 215, 0.429)
      );
    text-align: center;
}
.menu-ul {
    text-align: center;
    margin: 0;
    padding: 0;
    display: inline;
}
.menu-ul li{
    font-size: 17px;
    list-style: none;
    display: inline-block;
    padding: 25px 25px 26px 25px;
}
.a-menu, .a-links{
    text-decoration: none;
    color: white;
}
.menu li:hover{
    background: #13d79f;
    transform: scale(1.1);
}
.search{
    border: 1px solid white;
    border-radius: 50px;
    background: white;
    width: max-content;
    display: inline-block;
    margin: 8px;
    
}
.search:hover{
    box-shadow: 0 0 10px 2px #5b8c5a;
    border: 1px solid #5b8c5a;
}
.search-input{
    width: 250px;
    border: none;
    font-size: 16px;
    outline: none;
    background: transparent;
    margin: 15px 0 0 10px;
}
li{
    font-size: 20px;
    margin: 0 10px 0 0;
}